<p>
  <%= image_tag customer.image %>
</p>
<h1>customer.name</h1>
<p>
  Phone: <%= customer.phone %>
</p>
<p>
  Email: <%= customer.image %>
</p>
<p>
  Notes: <%= customer.notes %>
</p> 
