<div class="customer_box">

  <h3>
    <%= customer.name %>
  </h3>

  <p>
    <%= image_tag customer.image %>
  </p>

  <p>
    <b>Province: </b>
  </p>

  <p>
    <%= customer.phone %>
  </p>

  <p>
    <%= customer.email %>
  </p>

</div>
