<header>
  <nav>
    <ul>
      <li>
        <%= link_to 'All', root_path %>
      </li>
      <li>
        <%= link_to 'By Name', alphabetized_customers_path %>
      </li>
      <li>
        <%= link_to 'Missing email', missing_email_customers_path %>
      </li>
    </ul>
  </nav>
</header>
